<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button">홈</a>
    <div class="w3-dropdown-hover">
        <button class="w3-button">회원</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/members/new" class="w3-bar-item w3-button">회원 가입</a>
            <a href="/members/view" class="w3-bar-item w3-button">회원목록 보기</a>
            <a href="/members/bye" class="w3-bar-item w3-button">회원 탈퇴</a>
        </div>
    </div>
    <div class="w3-dropdown-hover">
        <button class="w3-button">게시글</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/members/content" class="w3-bar-item w3-button">게시글 작성</a>
            <a href="/members/contentlist" class="w3-bar-item w3-button">게시글목록 보기</a>
            <a href="/members/contentmodify" class="w3-bar-item w3-button">게시글 수정</a>
            <a href="/members/contentbye" class="w3-bar-item w3-button">게시글 삭제</a>
        </div>
    </div>
    <a href="/members/modify" th:if="${session['first'] != null}" class="w3-bar-item w3-button">내정보</a>
    <a href="/members/login" th:if="${session['first'] == null}" class="w3-bar-item w3-button">로그인</a>
    <a href="/members/logout" th:if="${session['first'] != null}" class="w3-bar-item w3-button">로그아웃</a>
</div>
<form action="/comment/modify/{commentIdValue}" method="post">
<div class="w3-padding w3-display-topmiddle">
    <br>
    <br>
    <h2>댓글 수정</h2>
        <table class="w3-table-all">
            <thead>
            <tr class="w3-green">
                <th>댓글번호</th><br>
                <th>내용</th><br>
                <th>작성자</th><br>
                <th>작성시간</th><br>
                <th>글작성번호</th><br>

            </tr>
            </thead>

            <tr>
                <td><input type="text" name="commentSelectId" th:value="${selectCommentUpdateView.commentSelectId}" readonly></td>
                <td><input type="text" name="commentSelectContent" th:value="${selectCommentUpdateView.commentSelectContent}"></input></td>
                <td><input type="text" name="commentSelectAuthor" th:value="${selectCommentUpdateView.commentSelectAuthor}" readonly></td>
                <td><input name="commentSelectDate" th:value="${selectCommentUpdateView.commentSelectDate}" readonly></td>
                <td><input type="text" name="commentSelectContentId" th:value="${selectCommentUpdateView.commentSelectContentId}" readonly></td>

            </tr>

        </table>
        <br>
        <br>

        <input type="submit" value="수정">
        <li><a href="/">홈으로</a></li>






</div>
</form>