<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button">홈</a>
    <div class="w3-dropdown-hover">
        <button class="w3-button">회원</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/members/new" class="w3-bar-item w3-button">회원 가입</a>
            <a href="/members/view" class="w3-bar-item w3-button">회원목록 보기</a>
            <a href="/members/bye" class="w3-bar-item w3-button">회원 탈퇴</a>
        </div>
    </div>
    <div class="w3-dropdown-hover">
        <button class="w3-button">게시글</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/members/content" class="w3-bar-item w3-button">게시글 작성</a>
            <a href="/members/contentlist" class="w3-bar-item w3-button">게시글목록 보기</a>
            <a href="/members/contentmodify" class="w3-bar-item w3-button">게시글 수정</a>
            <a href="/members/contentbye" class="w3-bar-item w3-button">게시글 삭제</a>
        </div>
    </div>
    <a href="/members/modify" th:if="${session['first'] != null}" class="w3-bar-item w3-button">내정보</a>
    <a href="/members/login" th:if="${session['first'] == null}" class="w3-bar-item w3-button">로그인</a>
    <a href="/members/logout" th:if="${session['first'] != null}" class="w3-bar-item w3-button">로그아웃</a>
</div>
<div class="w3-padding w3-display-topmiddle">
    <br>
    <h2>게시글 목록</h2>
    <table class="w3-table-all">
        <thead>
        <tr class="w3-green">
            <th>글번호</th><br>
            <th>제목</th><br>
            <th>작성자</th><br>
        </tr>
        </thead>
        <tr th:each="content : ${contentList}">
            <td th:text="${content.id}"></td>
            <td><a th:href="@{/content/{idValue}(idValue=${content.id})}" th:text="${content.title}"></a></td>
            <td th:text="${content.username}"></td>
        </tr>
    </table>
    <br>
    <input type="text" placeholder="검색"><button value="검색">검색</button>

    <!-- 페이지네이션 -->
    <div class="pagination">
        <ul style="display: flex;">
            <li style="margin-right: 10px; list-style: none;">
                <a th:if="${page != 1}" th:href="@{/members/contentlist(page=1)}" >&laquo; 맨처음</a>
            </li>
<!--            <li>-->
<!--                <a th:if="${page > 1}" th:href="@{/members/contentlist(page=${(page-1)})}" style="margin-right: 10px; list-style: none;">이전</a>-->
<!--            </li>-->
            <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" style="margin-right: 10px; list-style: none;">
               <a th:href="@{/members/contentlist(page=${pageNumber})}" th:text="${pageNumber}"></a>
            </li>
            <li style="margin-right: 10px; list-style: none;">
                <a th:if="${page < totalPages}" th:href="@{/members/contentlist(page=${page+1})}" >다음</a>
            </li>
            <li style="margin-right: 10px; list-style: none;">
                <a th:if="${page < totalPages}" th:href="@{/members/contentlist(page=${totalPages})}" >맨끝 &raquo;</a>
            </li>
        </ul>
    </div>

    <br>
    <br>
    <li><a href="/">홈으로</a></li>
</div>


</body>
</html>