<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>

        .comment-textarea {
            width: 100%;
            height: 80px;
        }

        .comment-table {
            table-layout: fixed;
            width: 100%;
        }

        .comment-table th, .comment-table td {
            width: 80%;
        }

        .pagination {
            margin-top: 20px;
        }

        .pagination ul {
            display: flex;
            list-style: none;
        }

        .pagination li {
            margin-right: 10px;
        }

        .pagination a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button">홈</a>
    <div class="w3-dropdown-hover">
        <button class="w3-button">회원</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/members/new" class="w3-bar-item w3-button">회원 가입</a>
            <a href="/members/view" class="w3-bar-item w3-button">회원목록 보기</a>
            <a href="/members/bye" class="w3-bar-item w3-button">회원 탈퇴</a>
        </div>
    </div>
    <div class="w3-dropdown-hover">
        <button class="w3-button">게시글</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/members/content" class="w3-bar-item w3-button">게시글 작성</a>
            <a href="/members/contentlist" class="w3-bar-item w3-button">게시글목록 보기</a>
            <a href="/members/contentmodify" class="w3-bar-item w3-button">게시글 수정</a>
            <a href="/members/contentbye" class="w3-bar-item w3-button">게시글 삭제</a>
        </div>
    </div>
    <a href="/members/modify" th:if="${session['first'] != null}" class="w3-bar-item w3-button">내정보</a>
    <a href="/members/login" th:if="${session['first'] == null}" class="w3-bar-item w3-button">로그인</a>
    <a href="/members/logout" th:if="${session['first'] != null}" class="w3-bar-item w3-button">로그아웃</a>
</div>

<div class="w3-padding w3-display-topmiddle">
    <br>
    <br>
    <h2>게시글 상세페이지</h2>

    <table class="w3-table-all">
        <thead>
        <tr class="w3-green">
            <th>글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>내용</th>
            <th>좋아요</th>
            <th>좋아요 수</th>
        </tr>
        </thead>
        <tr>
            <td th:text="${contentDetailView.id}"></td>
            <td th:text="${contentDetailView.title}"></td>
            <td th:text="${contentDetailView.username}"></td>
            <td th:text="${contentDetailView.content}"></td>
            <form th:if="${contentDetailView.myLike != 0}" th:action="@{/like/content/cancel/{idValue}(idValue=${contentDetailView.id})}" method="post">
                <input type="hidden" name="id" th:value="${contentDetailView.id}">
                <td>
                    <input th:if="${contentDetailView.myLike != 0}" type="submit" value="좋아요 해제">
                </td>
            </form>
            <form th:if="${contentDetailView.myLike == 0}" th:action="@{/like/content/{idValue}(idValue=${contentDetailView.id})}" method="post">
                <td>
                    <input type="hidden" name="contentSelectId" th:value="${contentDetailView.id}">
                    <input th:if="${contentDetailView.myLike == 0}" type="submit" value="좋아요">
                </td>
            </form>
            <td th:text="${contentDetailView.likeCount}"></td>

        </tr>

    </table>

    <br>
    <br>


    <a th:href="@{/content/modify/{idValue}(idValue=${contentDetailView.id})}">수정하기</a><br>
    <a th:href="@{/content/delete/{idValue}(idValue=${contentDetailView.id})}">삭제하기</a>
    <br>

    <h3>댓글창</h3>
    <form th:action="@{/content/{idValue}(idValue=${contentDetailView.id})}" method="post">
        <textarea class="w3-input w3-border" style="resize:none" name="commentContent" rows="2" placeholder="댓글을 입력하세요..."></textarea>
        <div style="display: flex; flex-direction: column;">
            <input type="hidden" name="commentAuthor" th:value="${commentAuthor}" readonly>
            <input type="hidden" name="commentContentId" th:value="${contentDetailView.id}" readonly>
            <input class="w3-bar-item w3-button w3-teal" type="submit" value="전송">
        </div>
    </form>


    <br>
    <br>

    <li><a href="/members/contentlist">뒤로 가기</a></li>
    <li><a href="/">홈으로</a></li>

    <br>
    <br>
    <!--댓글 보여주는공간-->
    <h3>댓글</h3>
    <table class="w3-table-all comment-table" style="table-layout: fixed; width: 100%;">

        <colgroup>
            <col style="width: 40%;">
            <col style="width: 10%;">
            <col style="width: 10%;">
            <col style="width: 10%;">
            <col style="width: 10%;">
            <col style="width: 10%;">
            <col style="width: 10%;">
        </colgroup>

        <thead>
        <tr class="w3-blue">
<!--            <th>댓글번호</th>-->
            <th>내용</th>
            <th>작성자</th>
            <th>작성시간</th>
<!--            <th>글작성번호</th>-->
            <th>수정하기</th>
            <th>삭제하기</th>
            <th>좋아요</th>
            <th>좋아요 수</th>

        </tr>
        </thead>

        <tr th:each="sc : ${selectNewComment}">

            <input type="hidden" name="commentSelectId" th:value="${sc.commentSelectId}"
                        readonly>
            <td th:text="${sc.commentSelectContent}"></td>
            <td th:text="${sc.commentSelectAuthor}" ></td>
            <td th:text="${sc.commentSelectDate}"></td>
<!--            <td th:text="${sc.commentSelectContentId}"></td>-->
            <td><a th:href="@{/comment/modify/{commentIdValue}(commentIdValue=${sc.commentSelectId})}">댓글 수정하기</a></td>
            <td><a th:href="@{/comment/delete/{commentIdValue}(commentIdValue=${sc.commentSelectId})}">댓글 삭제하기</a></td>
            <form th:if="${sc.myLike != 0}" th:action="@{/like/cancel/{idValue}(idValue=${contentDetailView.id})}" method="post">
                <input type="hidden" name="commentSelectId" th:value="${sc.commentSelectId}">
                <td>
                    <input th:if="${sc.myLike != 0}" type="submit" value="좋아요 해제">
                </td>
            </form>
            <form th:if="${sc.myLike == 0}" th:action="@{/like/{idValue}(idValue=${contentDetailView.id})}" method="post">
                <input type="hidden" name="commentSelectId" th:value="${sc.commentSelectId}">
                <td>
                    <input th:if="${sc.myLike == 0}" type="submit" value="좋아요">
                </td>
            </form>
            <td th:text="${sc.likeCount}"></td>



        </tr>

    </table>

    <!-- 페이지네이션 -->
    <div class="pagination">
        <ul style="display: flex;">
            <li style="margin-right: 10px; list-style: none;">
                <a th:if="${page != 1}" th:href="@{/content/{idValue}(idValue=${idValue}, page=1)}" >&laquo; 맨처음</a>
            </li>

            <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" style="margin-right: 10px; list-style: none;">
                <a th:href="@{/content/{idValue}(idValue=${idValue}, page=${pageNumber})}" th:text="${pageNumber}"></a>
            </li>
            <li style="margin-right: 10px; list-style: none;">
                <a th:if="${page < totalPages}" th:href="@{/content/{idValue}(idValue=${idValue}, page=${page+1})}" >다음</a>
            </li>
            <li style="margin-right: 10px; list-style: none;">
                <a th:if="${page < totalPages}" th:href="@{/content/{idValue}(idValue=${idValue}, page=${totalPages})}" >맨끝 &raquo;</a>
            </li>
        </ul>
    </div>


</div>





</body>
</html>