<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button">홈</a>
    <div class="w3-dropdown-hover">
        <button class="w3-button">회원</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/members/new" class="w3-bar-item w3-button">회원 가입</a>
            <a href="/members/view" class="w3-bar-item w3-button">회원목록 보기</a>
            <a href="/members/bye" class="w3-bar-item w3-button">회원 탈퇴</a>
        </div>
    </div>
    <div class="w3-dropdown-hover">
        <button class="w3-button">게시글</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/members/content" class="w3-bar-item w3-button">게시글 작성</a>
            <a href="/members/contentlist" class="w3-bar-item w3-button">게시글목록 보기</a>
            <a href="/members/contentmodify" class="w3-bar-item w3-button">게시글 수정</a>
            <a href="/members/contentbye" class="w3-bar-item w3-button">게시글 삭제</a>
        </div>
    </div>
    <a href="/members/modify" th:if="${session['first'] != null}" class="w3-bar-item w3-button">내정보</a>
    <a href="/members/login" th:if="${session['first'] == null}" class="w3-bar-item w3-button">로그인</a>
    <a href="/members/logout" th:if="${session['first'] != null}" class="w3-bar-item w3-button">로그아웃</a>
</div>
<div class="w3-padding w3-display-topmiddle">
    <br>
    <br>
    <h2>게시글 삭제</h2>
    <form action="/content/delete/{id}" method="post">
        <table class="w3-table-all">
            <thead>
            <tr class="w3-green">
                <th>글번호</th><br>
                <th>제목</th><br>
                <th>작성자</th><br>
                <th>내용</th><br>
            </tr>
            </thead>

            <tr>
                <td><input type="text" id="contentId" name="contentId" th:value="${contentDetailForView.id}" readonly></td>
                <td><input type="text" id="contentTitle" name="contentTitle" th:value="${contentDetailForView.title}"></td>
                <td><input type="text" id="contentUsername" name="contentUsername" th:value="${contentDetailForView.username}"  readonly></td>
                <td><textarea id="contentContent" name="contentContent" th:text="${contentDetailForView.content}"></textarea></td>
                <!--      컨트롤러 Getmapping 에서, contentService를 쓰는 부분의 받는 변수(contentDetailForView)의
                 데이터 타입을 리스트가 아닌 ContentCommunity(사용중인 도메인의 타입)으로 바꿔 주었다. (이러면 for문 안돌려도 사용 가능)-->

            </tr>

        </table>
        <br>
        <br>

        <input type="submit" value="삭제">
        <li><a th:href="@{/content/{idValue}(idValue=${contentDetailForView.id})}">뒤로 가기</a></li>
        <li><a href="/">홈으로</a></li>


    </form>


</div>