<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-padding w3-display-topmiddle">
    <h2>게시글 목록</h2>
    <table class="w3-table-all">
        <thead>
        <tr class="w3-green">
            <th>글번호</th><br>
            <th>제목</th><br>
            <th>작성자</th><br>
        </tr>
        </thead>
        <tr th:each="content : ${contentList}">
            <td th:text="${content.id}"></td>
            <td><a th:href="@{/content/{idValue}(idValue=${content.id})}" th:text="${content.title}"></a></td>
            <td th:text="${content.username}"></td>
        </tr>
    </table>

    <!-- 페이지네이션 -->
    <div class="pagination">
        <ul style="display: flex;">
            <li>
                <a th:if="${page != 1}" th:href="@{/members/contentlist(page=1)}" style="margin-right: 10px; list-style: none;">&laquo; 맨처음</a>
            </li>
            <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" style="margin-right: 10px; list-style: none;">
               <a th:href="@{/members/contentlist(page=${pageNumber})}" th:text="${pageNumber}"></a>
            </li>
            <li>
                <a th:if="${page < totalPages}" th:href="@{/members/contentlist(page=${totalPages})}" style="margin-right: 10px; list-style: none;">맨끝 &raquo;</a>
            </li>
        </ul>
    </div>

    <br>
    <br>
    <li><a href="/">홈으로</a></li>
</div>


</body>
</html>