<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-padding w3-display-topmiddle">
    <h2>게시글 목록</h2>
    <table class="w3-table-all">
        <thead>
        <tr class="w3-green">
            <th>글번호</th><br>
            <th>제목</th><br>
            <th>작성자</th><br>
            <th>내용</th><br>
        </tr>
        </thead>
        <tr>
            <td th:text="${contentDetailView.id}"></td>
            <td th:text="${contentDetailView.title}"></td>
            <td th:text="${contentDetailView.username}"></td>
            <td th:text="${contentDetailView.content}"></td>

        </tr>

    </table>

    <br>
    <br>


    <a th:href="@{/content/modify/{idValue}(idValue=${contentDetailView.id})}">수정하기</a><br>
    <a th:href="@{/content/delete/{idValue}(idValue=${contentDetailView.id})}">삭제하기</a>



    <Form action="/content/{idValue}" method="post">
        <textarea class="comment-textarea" name="comment_content" rows="2" placeholder="댓글을 입력하세요..."></textarea>
        <input type="text" name= "comment_author" th:value="${comment_author}" readonly></input><br>
        <input type="submit" value="전송">

    </Form>

    <li><a href="/members/contentlist">뒤로 가기</a></li>
    <li><a href="/">홈으로</a></li>
</div>


</body>
</html>