<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-padding w3-display-topmiddle">
    <h2>게시글 목록</h2>

    <table class="w3-table-all">
        <thead>
        <tr class="w3-green">
            <th>글번호</th><br>
            <th>제목</th><br>
            <th>작성자</th><br>
            <th>내용</th><br>
        </tr>
        </thead>
        <tr>
            <td th:text="${contentDetailView.id}"></td>
            <td th:text="${contentDetailView.title}"></td>
            <td th:text="${contentDetailView.username}"></td>
            <td th:text="${contentDetailView.content}"></td>

        </tr>

    </table>

    <br>
    <br>


    <a th:href="@{/content/modify/{idValue}(idValue=${contentDetailView.id})}">수정하기</a><br>
    <a th:href="@{/content/delete/{idValue}(idValue=${contentDetailView.id})}">삭제하기</a>
    <br>

    <h3>댓글창</h3>
    <form th:action="@{/content/{idValue}(idValue=${contentDetailView.id})}" method="post">
        <textarea class="comment-textarea" name="commentContent" rows="2" placeholder="댓글을 입력하세요..."></textarea>
        <input type="text" name="commentAuthor" th:value="${commentAuthor}" readonly></input><br>
        <input type="text" name="commentContentId" th:value="${contentDetailView.id}" readonly>
        <input type="submit" value="전송">
    </form>

    <br>
    <br>

    <li><a href="/members/contentlist">뒤로 가기</a></li>
    <li><a href="/">홈으로</a></li>

    <br>
    <br>


<!--댓글 보여주는공간-->
    <h3>댓글</h3>
    <table class="w3-table-all">
        <thead>
        <tr class="w3-blue">
            <th>댓글번호</th><br>
            <th>내용</th><br>
            <th>작성자</th><br>
            <th>작성시간</th><br>
            <th>글작성번호</th><br>
            <th>수정하기</th><br>

        </tr>
        </thead>

        <tr th:each="sc : ${selectComment}">


            <td th:text="${sc.commentSelectId}"></td>
            <td th:text="${sc.commentSelectContent}"></td>
            <td th:text="${sc.commentSelectAuthor}" ></td>
            <td th:text="${sc.commentSelectDate}"></td>
            <td th:text="${sc.commentSelectContentId}"></td>
            <td><a th:href="@{/comment/modify/{commentIdValue}(commentIdValue=${sc.commentSelectId})}">댓글 수정하기</a></td>

        </tr>

    </table>



</div>





</body>
</html>