<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>신청서 상세페이지</title>
</head>
<body>
<div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button">홈</a>
    <div class="w3-dropdown-hover">
        <button class="w3-button">회원</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/members/new" class="w3-bar-item w3-button">회원 가입</a>
            <a href="/members/view" class="w3-bar-item w3-button">회원목록 보기</a>
            <a href="/members/bye" class="w3-bar-item w3-button">회원 탈퇴</a>
        </div>
    </div>
    <div class="w3-dropdown-hover">
        <button class="w3-button">게시글</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/members/content" class="w3-bar-item w3-button">게시글 작성</a>
            <a href="/members/contentlist" class="w3-bar-item w3-button">게시글목록 보기</a>
            <a href="/members/contentmodify" class="w3-bar-item w3-button">게시글 수정</a>
            <a href="/members/contentbye" class="w3-bar-item w3-button">게시글 삭제</a>
        </div>
    </div>
    <a href="/members/modify" th:if="${session['first'] != null}" class="w3-bar-item w3-button">내정보</a>
    <a href="/members/login" th:if="${session['first'] == null}" class="w3-bar-item w3-button">로그인</a>
    <a href="/members/logout" th:if="${session['first'] != null}" class="w3-bar-item w3-button">로그아웃</a>
</div>
    <form action="/level/{idValue}" method="post">
        <br>
        <br>
        <h2><label th:text="${mapleDetail.name}"></label> 님의 신청서</h2>
        <br>
        현재 레벨은? : <input type="text" name="nowLevel" th:value="${mapleDetail.nowLevel}"><br>
        목표 레벨? : <input type="text" name="goalLevel" th:value="${mapleDetail.goalLevel}"><br>
        캐릭터 월드: <input type="text" name="world" th:value="${mapleDetail.world}"><br>
        캐릭터 이름: <input type="text" name="name" th:value="${mapleDetail.name}" readonly><br>
        전화번호: <input type="text" name="phone" th:value="${mapleDetail.phone}"><br>
        <br>

        <td><input type="submit" value="수정">

    </form>


    <div style="display: flex;">



    <form action="/members/deleteM" method="post">
        <td><input type=hidden name="name" th:value="${mapleDetail.name}"></a></td>
        <td><input type=hidden name="world" th:value="${mapleDetail.world}"></td>
        <td><input type="submit" value="삭제">
        </td>
    </form>

        <a href="/members/maple">
            <button>뒤로가기</button>
        </a>
    </div>
</div>


</body>
</html>




