<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/assets/css/new.css">
</head>
<body>
<div class="wrap">
    <div class="login">
        <h2>회원 정보 수정</h2>
        <div class="login_sns">

        </div>
        <form class="w3-container" action="/members/modify" method="post">
            <input class="w3-input" type="text" id="username" name="username" th:value="${usernameInfo}"><br>
            <input class="w3-input" type="password" id="password" name="password" placeholder="비밀번호를 입력하세요"><br>
            <input class="w3-input" type="password" id="newpassword" name="newpassword" placeholder="수정하실 비밀번호를 입력하세요"><br>
            <input class="w3-input" type="text" id="grade" name="grade" th:value="${info >= 3 || commentGrade >= 2? '회원등급: 정회원' : '회원등급: 준회원'}"
                   readonly><br>


            <h4>관심사 선택</h4>
            <!-- 체크박스 반복 -->
            <div th:each="interest : ${allInterests}">
                <input type="checkbox" name="interests" th:value="${interest}" th:checked="${#strings.contains(interestList, interest)}"/>
                <label th:text="${interest}"></label>
            </div>
<!--            <div class="checkbox-row">-->
<!--                <input type="checkbox" id="interest1" name="interests" value="정보공유">-->
<!--                <label for="interest1">정보공유</label>-->
<!--                <input type="checkbox" id="interest2" name="interests" value="친구 만들기">-->
<!--                <label for="interest2">친구 만들기</label>-->
<!--            </div>-->
<!--            <div class="checkbox-row">-->
<!--                <input type="checkbox" id="interest3" name="interests" value="멤버십">-->
<!--                <label for="interest3">멤버십</label>-->
<!--                <input type="checkbox" id="interest4" name="interests" value="기타">-->
<!--                <label for="interest4">기타</label>-->
<!--            </div>-->
            <div class="submit">
                <input type="submit" value="변경">
            </div>
            <div>

            </div>
        </form>
    </div>

</div>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="w3-padding w3-display-topmiddle">-->
<!--    <h2>수정하실 계정 정보를 적어 주세요</h2>-->
<!--    <form class="w3-container" action="/members/modify" method="post">-->
<!--        <input class="w3-input" type="text" id="username" name="username" placeholder="별명을 입력하세요"><br>-->
<!--        <input class="w3-input" type="password" id="password" name="password" placeholder="비밀번호를 입력하세요"><br>-->
<!--        <input class="w3-input" type="password" id="newpassword" name="newpassword" placeholder="수정하실 비밀번호를 입력하세요"><br>-->
<!--        <input class="w3-input" type="submit" value="확인">-->
<!--    </form>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->