<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/assets/css/new.css">
</head>
<body>
<div class="wrap">
    <div class="login">
        <h2>회원 가입</h2>
        <div class="login_sns">
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
        </div>
        <form class="w3-container" action="/members/new" method="post">
            <input class="w3-input" type="text" id="username" name="username" placeholder="별명을 입력하세요"><br>
            <input class="w3-input" type="password" id="password" name="password" placeholder="비밀번호를 입력하세요"><br>
<!--            <div class="login_id">-->
<!--                <h4>Username</h4>-->
<!--                <input type="text" name="username" id="username" placeholder="별명을 입력해 주세요">-->
<!--            </div>-->
<!--            <div class="login_pw">-->
<!--                <h4>Password</h4>-->
<!--                <input type="password" name="password" id="password" placeholder="비밀번호를 입력해 주세요">-->
<!--            </div>-->
<!--            <div class="login_etc">-->
<!--                <div class="checkbox">-->
<!--                    <input type="checkbox" name="" id=""> Remember Me?-->
<!--                </div>-->
<!--                <div class="forgot_pw">-->
<!--&lt;!&ndash;                    <a href="">Forgot Password?</a>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
            <div class="submit">
                <input type="submit" value="가입">
            </div>
        </form>
        </div>

</div>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Join us</title>-->
<!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!--    <style>-->
<!--        html, body {-->
<!--            height: 100%;-->
<!--            display: flex;-->
<!--            justify-content: center;-->
<!--            align-items: center;-->
<!--            background-color: rgba(0, 0, 0, 0.1);-->
<!--        }-->

<!--        form {-->
<!--            width: 300px;-->
<!--            padding: 20px;-->
<!--            background-color: #fff;-->
<!--            border: 1px solid #ccc;-->
<!--            margin-top: 150px; /* 원하는 만큼의 여백을 주세요 */-->
<!--        }-->

<!--        /*.submit {*/-->
<!--        /*    margin-top: 50px;*/-->
<!--        /*    width: 80%;*/-->
<!--        /*}*/-->
<!--        .submit input {-->
<!--            width: 100%;-->
<!--            height: 50px;-->
<!--            border: 0;-->
<!--            outline: none;-->
<!--            border-radius: 40px;-->
<!--            background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));-->
<!--            color: white;-->
<!--            font-size: 1.2em;-->
<!--            letter-spacing: 2px;-->
<!--        }-->


<!--        h2 {-->
<!--            color: tomato;-->
<!--            font-size: 2em;-->
<!--        }-->

<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="w3-padding w3-display-topmiddle">-->
<!--    <div class="w3-container">-->

<!--    </div>-->
<!--    <form class="w3-container" action="/members/new" method="post">-->
<!--        <h2>회원 가입</h2>-->
<!--        <input class="w3-input" type="text" id="username" name="username" placeholder="별명을 입력하세요"><br>-->
<!--        <input class="w3-input" type="password" id="password" name="password" placeholder="비밀번호를 입력하세요"><br>-->
<!--        <div class="submit">-->
<!--            <input type="submit" value="가입">-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->