<?xml version="1.0" encoding="euc-kr"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jihyun.stockcommunity.mapper.CommentMapper">
    <insert id="insertComment" parameterType="com.jihyun.stockcommunity.domain.Comment">
        INSERT INTO stockcomment (comment_content, comment_author, comment_content_id)
        values (#{commentContent}, #{commentAuthor}, #{commentContentId})
    </insert>
<!--    인서트문은 왜 컬럼명이랑 도메인의 필드명이랑 같지 않아도 되는거??-->

    <select id="selectComment" resultType="com.jihyun.stockcommunity.domain.SelectComment">
        SELECT
            comment_id as commentSelectId,
            comment_content as commentSelectContent,
            comment_author as commentSelectAuthor,
            comment_date as commentSelectDate,
            comment_content_id as commentSelectContentId
        FROM
            stockcomment
        WHERE comment_content_id = #{idValue}
    </select>

    <select id="selectCommentUpdateView" resultType="com.jihyun.stockcommunity.domain.SelectComment">
        SELECT
            comment_id as commentSelectId,
            comment_content as commentSelectContent,
            comment_author as commentSelectAuthor,
            comment_date as commentSelectDate,
            comment_content_id as commentSelectContentId
        FROM
            stockcomment
        WHERE comment_id = #{commentIdValue}
    </select>

    <update id="selectCommentUpdate" parameterType="com.jihyun.stockcommunity.domain.SelectComment">
        UPDATE stockcomment
        SET comment_content = #{commentSelectContent}
        WHERE comment_id = #{commentSelectId} AND comment_author = #{commentSelectAuthor}
    </update>

    <delete id="selectCommentDelete" parameterType="com.jihyun.stockcommunity.domain.SelectComment">
        DELETE FROM stockcomment
        WHERE comment_id = #{commentSelectId} AND comment_content = #{commentSelectContent} AND
              comment_author = #{commentSelectAuthor} AND comment_content_id = #{commentSelectContentId}
    </delete>

    <select id="updateCommentGrade" resultType="com.jihyun.stockcommunity.domain.SelectComment">
        SELECT
            comment_id as commentSelectId
        FROM stockcomment
        WHERE comment_author = #{commentSelectAuthor}
    </select>


</mapper>