<?xml version="1.0" encoding="euc-kr"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jihyun.stockcommunity.mapper.CommentMapper">
    <insert id="insertComment" parameterType="com.jihyun.stockcommunity.domain.Comment">
        INSERT INTO stockcomment (comment_content, comment_author, comment_content_id)
        values (#{commentContent}, #{commentAuthor}, #{commentContentId})
    </insert>

<!--    !!!!!!!!!!!!!!페이지네이션 포함한 게시글별로 댓글 조회하는 새쿼리!!!!!!!!!!-->
    <select id="selectNewComment" resultType="com.jihyun.stockcommunity.domain.SelectComment">
        SELECT sc.comment_id AS commentSelectId,
               sc.comment_content as commentSelectContent,
               sc.comment_author as commentSelectAuthor,
               sc.comment_date as commentSelectDate,
               sc.comment_content_id as commentSelectContentId,
               hc.likeCount,
               (SELECT count(*)
                FROM heart
                WHERE commentSelectId = sc.comment_id AND nowUserName = #{username}) as myLike-- 내가 좋아요를 눌렀는지. 눌렀으면 1, 안눌렀으면 0
        FROM stockcomment sc
                 LEFT JOIN (
            SELECT commentSelectId, COUNT(*) AS likeCount
            FROM heart
            GROUP BY commentSelectId
        ) hc ON sc.comment_id = hc.commentSelectId
        WHERE sc.comment_content_id = #{idValue}

        LIMIT #{offset}, 5
    </select>


<!--    페이지네이션의 전체 댓글의 개수를 세는 쿼리-->
<!--        resultType이 특정 도메인의 클래스를 가리키는 것이 아닌, 단순히 숫자 값만 가져오는 int라서 where절에 별칭 지정을 안해줘도 되는듯?-->
    <select id="getCommentCount" resultType="int">
    SELECT COUNT(*)
    FROM stockcomment
    WHERE comment_content_id = #{idValue}
    </select>

    <select id="selectCommentUpdateView" resultType="com.jihyun.stockcommunity.domain.SelectComment">
        SELECT
            comment_id as commentSelectId,
            comment_content as commentSelectContent,
            comment_author as commentSelectAuthor,
            comment_date as commentSelectDate,
            comment_content_id as commentSelectContentId
        FROM
            stockcomment
        WHERE comment_id = #{commentIdValue}
    </select>

    <update id="selectCommentUpdate" parameterType="com.jihyun.stockcommunity.domain.SelectComment">
        UPDATE stockcomment
        SET comment_content = #{commentSelectContent}
        WHERE comment_id = #{commentSelectId} AND comment_author = #{commentSelectAuthor}
    </update>

    <delete id="selectCommentDelete" parameterType="com.jihyun.stockcommunity.domain.SelectComment">
        DELETE FROM stockcomment
        WHERE comment_id = #{commentSelectId} AND comment_content = #{commentSelectContent} AND
              comment_author = #{commentSelectAuthor} AND comment_content_id = #{commentSelectContentId}
    </delete>

    <select id="updateCommentGrade" resultType="com.jihyun.stockcommunity.domain.SelectComment">
        SELECT
            comment_id as commentSelectId
        FROM stockcomment
        WHERE comment_author = #{commentSelectAuthor}
    </select>


</mapper>