<?xml version="1.0" encoding="euc-kr"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jihyun.stockcommunity.mapper.ContentMapper">
    <select id="contentListView" resultType="com.jihyun.stockcommunity.domain.ContentCommunity">
        SELECT
            title,
            username,
            id

        FROM
            stockcontent
    </select>

<!--    <select id="contentDetailView" resultType="com.jihyun.stockcommunity.domain.ContentCommunity">-->
<!--        SELECT-->
<!--            title,-->
<!--            username,-->
<!--            content,-->
<!--            id-->
<!--        FROM-->
<!--            stockcontent -->
<!--        WHERE id = #{idValue}-->
<!--    </select>-->

<!--    !!!!!!!글번호별로 게시글 조회하는 새쿼리!!!!!!!!-->
    <select id="contentDetailView" resultType="com.jihyun.stockcommunity.domain.ContentCommunity">
        SELECT sc.title, sc.username,
               sc.content, sc.id,
               hc.likeCount
        FROM stockcontent sc
                 LEFT JOIN (
            SELECT contentSelectId, COUNT(*) AS likeCount
            FROM heartcontent
            GROUP BY contentSelectId
        ) hc ON sc.id = hc.contentSelectId
        WHERE sc.id = #{idValue}
    </select>

    <select id="contentDetailUpdateView" resultType="com.jihyun.stockcommunity.domain.ContentCommunity">
        SELECT
            title,
            username,
            content,
            id

        FROM
            stockcontent
        WHERE id = #{idValue}
    </select>

    <update id="contentDetailUpdate" parameterType="com.jihyun.stockcommunity.domain.ContentCommunity">
        UPDATE stockcontent
        SET title = #{contentTitle}, content = #{contentContent}
        WHERE username = #{contentUsername} AND id = #{contentId}
    </update>

    <delete id="contentDetailDelete" parameterType="com.jihyun.stockcommunity.domain.ContentCommunity">
        DELETE FROM stockcontent
        WHERE username = #{contentUsername} AND title = #{contentTitle} AND content = #{contentContent} AND
              id = #{contentId}
    </delete>
</mapper>