<?xml version="1.0" encoding="euc-kr"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jihyun.stockcommunity.mapper.HeartMapper">
    <insert id="insertHeart" parameterType="com.jihyun.stockcommunity.domain.Heart">
        INSERT INTO heart (commentSelectId, likeCount, nowUserName)
        values (#{commentSelectId}, 1, #{nowUserName})
        ON DUPLICATE KEY UPDATE likeCount = likeCount + 1
    </insert>

<!--    <select id="selectHeart" resultType="com.jihyun.stockcommunity.domain.Heart">-->
<!--        SELECT hc.likeCount-->
<!--        FROM heart hc-->
<!--                 JOIN stockcomment sc ON hc.commentSelectId = sc.commentSelectId-->
<!--        WHERE sc.comment_id = #{commentSelectId}-->
<!--    </select>-->


</mapper>
