<?xml version="1.0" encoding="euc-kr"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jihyun.stockcommunity.mapper.MapleMapper">

    <insert id="insertMapleLevel" parameterType="com.jihyun.stockcommunity.domain.Maple">
        INSERT INTO mapleLevel (nowLevel, goalLevel, world, name, phone)
        values (#{nowLevel}, #{goalLevel}, #{world}, #{name}, #{phone})
    </insert>

    <select id="mapleLevel" resultType="com.jihyun.stockcommunity.domain.Maple">
        SELECT
            name,
            world
        FROM
            mapleLevel
        order by name desc
    </select>

    <delete id="deleteMaple" parameterType="com.jihyun.stockcommunity.domain.Maple">
        DELETE FROM mapleLevel
        WHERE name = #{name} and world = #{world}
    </delete>

    <select id="mapleSelectDetail" resultType="com.jihyun.stockcommunity.domain.Maple">
        SELECT
            nowLevel,
            goalLevel,
            world,
            name,
            phone
        FROM
            mapleLevel
        where name = #{idValue}
    </select>

    <update id="mapleUpdateDetail" parameterType="com.jihyun.stockcommunity.domain.Maple">
        UPDATE mapleLevel
        SET nowLevel = #{nowLevel},
            goalLevel = #{goalLevel},
            world = #{world},
            name = #{name},
            phone = #{phone}
        WHERE name = #{name} AND world = #{world}
    </update>

</mapper>
