<?xml version="1.0" encoding="euc-kr"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jihyun.stockcommunity.mapper.MemberMapper">
    <select id="login" resultType="com.jihyun.stockcommunity.domain.User">
        SELECT
            username,
            password,
            interest
        FROM
            stockmember
        WHERE username = #{username} AND password = #{password}
    </select>

    <select id="myinfo" resultType="com.jihyun.stockcommunity.domain.User">
        SELECT
            username,
            password
        FROM
            stockmember
    </select>

    <update id="updateMyInfo" parameterType="com.jihyun.stockcommunity.domain.User">
        UPDATE stockmember
        SET password = #{newpassword}
        WHERE username = #{username} AND password = #{password}
    </update>

    <select id="updateGrade" resultType="com.jihyun.stockcommunity.domain.ContentCommunity">
        SELECT
            id
        FROM stockcontent
        WHERE username = #{username}
    </select>

<!--    !!!!!!!!!!!!여기서부터 좋아요관련쿼리!!!!!!!!!!!!-->
    <select id="heartCommentMyInfo" resultType="com.jihyun.stockcommunity.domain.SelectComment">
        SELECT sc.comment_id      AS commentSelectId,
               sc.comment_content AS commentSelectContent,
               sc.comment_author  AS commentSelectAuthor
        FROM stockcomment sc
        WHERE sc.comment_id IN (SELECT commentSelectId
                                FROM heart
                                WHERE nowUserName = #{loginUserName})
    </select>

    <delete id="heartCommentMyInfoDelete" parameterType="com.jihyun.stockcommunity.domain.SelectComment">
        DELETE FROM heart
        WHERE commentSelectId IN (
            SELECT comment_id as commentSelectId
            FROM stockcomment
            WHERE comment_id = #{commentSelectId}
        )
    </delete>



    <select id="heartContentMyInfo" resultType="com.jihyun.stockcommunity.domain.ContentCommunity">
        SELECT sc.title, sc.username,
               sc.content, sc.id
        FROM stockcontent sc
        WHERE sc.id IN (SELECT contentSelectId
                                FROM heartcontent
                                WHERE nowUserName = #{loginUserName})
    </select>

    <delete id="heartContentMyInfoDelete" parameterType="com.jihyun.stockcommunity.domain.ContentCommunity">
        DELETE FROM heartcontent
        WHERE contentSelectId IN (
            SELECT id
            FROM stockcontent
            WHERE id = #{id}
        )
    </delete>


</mapper>