<?xml version="1.0" encoding="euc-kr"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jihyun.stockcommunity.mapper.MemberMapper">
    <select id="login" resultType="com.jihyun.stockcommunity.domain.User">
        SELECT
            username,
            password,
            interest
        FROM
            stockmember
        WHERE username = #{username} AND password = #{password}
    </select>

    <select id="myinfo" resultType="com.jihyun.stockcommunity.domain.User">
        SELECT
            username,
            password
        FROM
            stockmember
    </select>

    <update id="updateMyInfo" parameterType="com.jihyun.stockcommunity.domain.User">
        UPDATE stockmember
        SET password = #{newpassword}
        WHERE username = #{username} AND password = #{password}
    </update>


</mapper>