<?xml version="1.0" encoding="euc-kr"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jihyun.stockcommunity.mapper.SampleMapper">
    <select id="selectSample" resultType="int">
        SELECT 1
    </select>

    <select id="selectAllStock" resultType="com.jihyun.stockcommunity.domain.StockCommunity">
        SELECT
            username,
            password
        FROM
            stockmember
    </select>

    <select id="selectAllContentStock" resultType="com.jihyun.stockcommunity.domain.ContentCommunity">
        SELECT
            username,
            content,
            title
        FROM
            stockcontent
    </select>

    <insert id="insertStock" parameterType="com.jihyun.stockcommunity.domain.StockCommunity">
        INSERT INTO stockmember (username, password)
        VALUES (#{username}, #{password})
    </insert>

    <insert id="insertContentStock" parameterType="com.jihyun.stockcommunity.domain.ContentCommunity">
        INSERT INTO stockcontent (username, content, title)
        values (#{username}, #{content}, #{title})
    </insert>



</mapper>