<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LadyBug</title>
<!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!--    <link rel="stylesheet" th:href="@{/templates/assets/css/main.css}">-->
</head>
<body>
<div class="w3-padding w3-display-topmiddle">
    <div class="w3-panel w3-blue">
        <h1 class="w3-text-orange" style="text-shadow:1px 1px 0 #444">
            <b>Hello</b></h1>
    </div>
    <p>
        <a href="/members/new" class="w3-button w3-black w3-block w3-hover-blue-grey w3-padding-16">회원 가입</a><br>
        <a href="/members/content" class="w3-button w3-black w3-block w3-hover-blue-grey w3-padding-16">게시글 작성</a><br>
        <br>
        <br>
        <a href="/members/view" class="w3-button w3-black w3-block w3-hover-teal w3-padding-16">회원목록 보기</a><br>
        <a href="/members/contentview" class="w3-button w3-black w3-block w3-hover-teal w3-padding-16">게시글목록 보기</a><br>
        <br>
        <br>
        <a href="/members/bye" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">회원 탈퇴하기</a><br>
        <a href="/members/contentbye" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">게시글 삭제하기</a>
        <br>
        <br>
        <a href="/members/modify" class="w3-button w3-black w3-block w3-hover-brown w3-padding-16">회원정보 수정</a><br>
        <a href="/members/contentmodify" class="w3-button w3-black w3-block w3-hover-brown w3-padding-16">게시글 수정</a>
    </p>
</div>
</div>

</body>
</html>