<!DOCTYPE HTML>

<html>
<head>
    <title>LadyBug</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="is-preload">

<div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button">홈</a>
    <div class="w3-dropdown-hover">
        <button class="w3-button">회원</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/members/new" class="w3-bar-item w3-button">회원 가입</a>
            <a href="/members/view" class="w3-bar-item w3-button">회원목록 보기</a>
            <a href="/members/bye" class="w3-bar-item w3-button">회원 탈퇴</a>
        </div>
    </div>
    <div class="w3-dropdown-hover">
        <button class="w3-button">게시글</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/members/content" class="w3-bar-item w3-button">게시글 작성</a>
            <a href="/members/contentlist" class="w3-bar-item w3-button">게시글목록 보기</a>
            <a href="/members/contentmodify" class="w3-bar-item w3-button">게시글 수정</a>
            <a href="/members/contentbye" class="w3-bar-item w3-button">게시글 삭제</a>
        </div>
    </div>
    <a href="/members/modify" th:if="${session['first'] != null}" class="w3-bar-item w3-button">내정보</a>
    <a href="/members/login" th:if="${session['first'] == null}" class="w3-bar-item w3-button">로그인</a>
    <a href="/members/logout" th:if="${session['first'] != null}" class="w3-bar-item w3-button">로그아웃</a>
</div>


<ul>
    <li><a href="/members/new"><span class="label">회원 가입</span></a></li>
    <li><a href="/members/view"><span class="label">회원목록 보기</span></a></li>
    <li th:if="${session['first'] != null}"><a href="/members/modify"><span class="label">회원정보 수정</span></a></li>
    <li><a href="/members/bye"><span class="label">회원 탈퇴</span></a></li>
    <br>
    <br>
    <li><a href="/members/content"><span class="label">게시글 작성</span></a></li>
    <li><a href="/members/contentlist"><span class="label">게시글목록 보기</span></a></li>
    <li><a href="/members/contentmodify"><span class="label">게시글 수정</span></a></li>
    <li><a href="/members/contentbye"><span class="label">게시글 삭제</span></a></li>
    <br>
    <br>
    <li th:if="${session['first'] == null}">
        <a href="/members/login">
            <span class="label">로그인</span>
        </a>
    </li>
    <li th:if="${session['first'] != null}">
        <a href="/members/logout">
            <span class="label">로그아웃</span>
        </a>

    </li>
</ul>
<footer id="footer">
    <span class="copyright">&copy; Github/jihyun11</a>.</span>
</footer>


</body>
</html>