<!DOCTYPE HTML>

<html>
<head>
    <title>LadyBug</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="is-preload">


<ul>
    <li><a href="/members/new"><span class="label">회원 가입</span></a></li>
    <li><a href="/members/view"><span class="label">회원목록 보기</span></a></li>
    <li th:if="${session['first'] != null}"><a href="/members/modify"><span class="label">회원정보 수정</span></a></li>
    <li><a href="/members/bye"><span class="label">회원 탈퇴</span></a></li>
    <br>
    <br>
    <li><a href="/members/content"><span class="label">게시글 작성</span></a></li>
    <li><a href="/members/contentlist"><span class="label">게시글목록 보기</span></a></li>
    <li><a href="/members/contentmodify"><span class="label">게시글 수정</span></a></li>
    <li><a href="/members/contentbye"><span class="label">게시글 삭제</span></a></li>
    <br>
    <br>
    <li th:if="${session['first'] == null}">
        <a href="/members/login">
            <span class="label">로그인</span>
        </a>
    </li>
    <li th:if="${session['first'] != null}">
        <a href="/members/logout">
            <span class="label">로그아웃</span>
        </a>

    </li>
</ul>
<footer id="footer">
    <span class="copyright">&copy; Github/jihyun11. Design: 지현</a>.</span>
</footer>


</body>
</html>